/************************************************************/
/* HEADER */
/************************************************************/
header{
    margin: auto;
    width: 1100px;
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    background-size: 25%;
}

.logo{
    width: 15%;    
    margin-top: 20px; /* il 2% viene calcolato sulla larghezza */
}

/************************************************************/
/* MAIN */
/************************************************************/
main{
    margin: auto;
    width: 1100px;
}

h1{
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 0;
}

.didascalia-testo{
    color: lightslategray;
    margin-top: 0;
}

.didascalia-foto{
    color: lightslategray;
    font-size: smaller;
}

.highlighted{
    background-color: yellow;
}

.head-row{
    background-color: rgb(58, 183, 255);
    text-align: left;
    color: white;
}

.first-column{
    width: 15%;
}

.second-column{
    width: 25%;
}

.third-column{
    width: 60%;
}

.body-row-dispari{
    background-color: rgba(58, 183, 255,0.2);
}

/************************************************************/
/* FOOTER */
/************************************************************/
footer{
    margin: auto;
    width: 1100px;
}

h3{
    color: lightslategray;
    margin-bottom: 0;
}

#pubblicità1{
    height: 150px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
#pubblicità2{
    height: 150px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
