/************************************************************/
/* HEADER */
/************************************************************/
header{
    height: 50%;
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    background-size: 10%;
}

.logo{
    width: 10%;    
}

/************************************************************/
/* MAIN */
/************************************************************/
h1{
    font-size: 70px;
}

.didascalia-testo{
    color: lightslategray;
}

.the-booleaner-link{
    color: lightskyblue;
}

.didascalia-foto{
    color: lightslategray;
    font-size: smaller;
}

.highlighted{
    background-color: yellow;
}

.head-row{
    background-color: rgb(58, 183, 255);
}

.body-row-dispari{
    background-color: rgba(58, 183, 255,0.2);
}

/************************************************************/
/* FOOTER */
/************************************************************/
h3{
    color: lightslategray;
}

#pubblicità1{
    height: 150px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
#pubblicità2{
    height: 150px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-weight: bold;
    font-size: x-large;
}