/************************************************************/
/* HEADER */
/************************************************************/
header{
    height: 50%;
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    background-size: 10%;
    align-items: baseline;
}

.logo{
    width: 10%;    
}

/************************************************************/
/* MAIN */
/************************************************************/
h1{
    font-size: 70px;
}

.didascalia-testo{
    color: lightslategray;
}

.the-booleaner-link{
    color: lightskyblue;
}

.didascalia-foto{
    color: lightslategray;
    font-size: smaller;
}